<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://price-comparison-tool.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>price-comparison-tool.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>price-comparison-tool</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$price-comparison-tool</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AzureContext" Order="1" Enabled="False">
          <Destination Path="Data Source=stuinr7qen.database.windows.net,1433;Initial Catalog=PriceCompDB-100;User ID=acarson13;Password=MySecurePassword1" Name="Data Source=stuinr7qen.database.windows.net,1433;Initial Catalog=PriceCompDB-100;User ID=acarson13;Password=MySecurePassword1;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PriceComparisonTool.DAL.AzureContext, PriceComparisonTool" MigrationConfiguration="PriceComparisonTool.Migrations.Configuration, PriceComparisonTool" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureContext-Web.config Connection String">
      <ParameterValue>Data Source=stuinr7qen.database.windows.net,1433;Initial Catalog=PriceCompDB-100;User ID=acarson13;Password=MySecurePassword1;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>