@{
    ViewBag.Title = "About";
}
<h2>How to use this website</h2>

<div class="well">
    <strong>Price Comparsion Tool</strong> is a website that lets you track 
    prices for the products you commonly buy for each store you shop at.
    With this data, you can then see which stores have the best prices.
    You can also generate shopping lists for the current products you want to 
    buy, and it will automatically sort by store the products with the best 
    prices, so you can save time and money while you shop.
</div>
