@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Aaron Carson:</strong>   <a href="http://www.wou.edu/~acarson13/">www.wou.edu/~acarson13/</a><br />
    <strong>Greg McKinney:</strong>  <a href="http://www.wou.edu/~gmckinney12/">www.wou.edu/~gmckinney12/</a>
</address>